/* Reset css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
   
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* Reset css */
/* ************************* FONT FAMILY ***************************** */
@font-face {
    font-family: "source_sans_proregular";
    src: url("../fontFamily/SourceSansPro/sourcesanspro-regular.woff2")
        format("woff2"),
      url("../fontFamily/SourceSansPro/sourcesanspro-regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "source_sans_probold";
    src: url("../fontFamily/SourceSansPro/sourcesanspro-bold.woff2")
        format("woff2"),
      url("../fontFamily/SourceSansPro/sourcesanspro-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "source_sans_prosemibold";
    src: url("../fontFamily/SourceSansPro/sourcesanspro-semibold.woff2")
        format("woff2"),
      url(".../fontFamily/SourceSansPro/sourcesanspro-semibold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "source_sans_prolight";
    src: url("../fontFamily/SourceSansPro/sourcesanspro-light.woff2")
        format("woff2"),
      url("../fontFamily/SourceSansPro/sourcesanspro-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  /* ************************* FONT FAMILY ***************************** */

body{
    font-size: 12px;
    font-family: source_sans_proregular;
}
.card{
    width: 290px;
   border-radius: 1px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
   float: left;

}
.card_img{
    width: 290px;
    height: 290px;
    object-fit: cover;
}
.container{
    padding: 20px 16px 14px 16px;
}
.container>h4{
    font-family: source_sans_prosemibold;
    font-size: 15px;
    color: #0F5EF0;
}
.card_name{
    padding:18px 0 20px 0;
    font-family: source_sans_probold;
    color: #7A8594;
}
.card_subname{
font-family: source_sans_proregular;
color: #7A8594;
}

.card:hover{
    filter: drop-shadow(0 3px 18px #99000000);
   /* background-color: black; */
}
